@import "tailwindcss";

/* Global scrollbar */
html, body {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: rgba(160, 160, 160, 0.6) #161616; /* thumb track */
}

/* Chrome, Edge, Safari */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 10px;
}

html::-webkit-scrollbar-track,
body::-webkit-scrollbar-track {
  background: #161616;
}

html::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: rgba(160, 160, 160, 0.6);
  border-radius: 999px;
}

/* Testimonials scroll bar */
.custom-scroll::-webkit-scrollbar-button {
    display: none;
}

.custom-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.custom-scroll::-webkit-scrollbar {
    display: none;
}

/* Footer scroll bar */
.custom-scroll-footer {
    overflow-x: auto;

    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: rgba(114, 114, 114, 0.2) transparent;
}

/* Chrome, Edge, Safari */
.custom-scroll-footer::-webkit-scrollbar {
    height: 3px;
    /* very thin */
}

.custom-scroll-footer::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scroll-footer::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    /* low visibility */
    border-radius: 10px;
}

/* Remove arrows completely */
.custom-scroll-footer::-webkit-scrollbar-button {
    display: none;
}


@layer base {

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px #161616 inset;
        -webkit-text-fill-color: white;
        caret-color: white;
    }
}